@model PriceListDetailsServiceModel
@{
    ViewData["Title"] = "Details";
}

<li class="list-group-item">
    <h3> <strong> @Model.Titel</strong></h3>
    <br />
    <small> @Model.Content</small>
</li>

