@model PriceListDetailsServiceModel
@{
    ViewData["Title"] = "Details";
}
<div class="text-center" style=" text-align: center;">
    <div class="row">
        <div class="col-md-7">
            <h4> @Model.Title</h4>
            <br />
            <small>@Html.Raw(Model.Content)</small>
        </div>
    </div>
</div>
