
@{
    ViewData["Title"] = "Menu";
}
<div class="pure-g">
    <h2 class="content-head is-center">Paradise</h2>
    <h2 class="content-head is-center">Admin</h2>
    <div class="pure-menu pure-menu-horizontal">
        <a asp-area="Admin" asp-controller="Home" asp-action="AllUsers">Users</a>
        <a asp-area="Admin" asp-controller="Rooms" asp-action="Create">New Room</a>

        <ul class="pure-menu-list">

            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sports</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Finance</a></li>
        </ul>
    </div>
</div>

