@using IvSite.Web.Areas.Admin.Models.Users

@if (User.IsInRole(WebConstants.AdminRole))
{
   
<ul class="nav navbar-nav navbar-left">
    <li>
        <a asp-area="Admin" asp-controller="Rooms" asp-action="AllRooms">All Rooms</a>
    </li>
    <li>
        <a asp-area="Admin" asp-controller="Rooms" asp-action="Create">Create New Room</a>
    </li>
    <li>
        <a asp-area="Admin" asp-controller="Home" asp-action="AllUsers">All Users</a>
    </li>
</ul>
               
           
}
