<html lang="en" class="yui3-js-enabled">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>@ViewData["Title"] - IvSite</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/marketing.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    @*<script src="https://yui-s.yahooapis.com/combo?3.18.1/yui/yui-min.js"></script>*@
    <script charset="utf-8" id="yui_3_18_1_1_1512231061106_2" src="https://yui-s.yahooapis.com/combo?3.18.1/oop/oop-min.js&amp;3.18.1/event-custom-base/event-custom-base-min.js&amp;3.18.1/event-base/event-base-min.js&amp;3.18.1/dom-core/dom-core-min.js&amp;3.18.1/dom-base/dom-base-min.js&amp;3.18.1/selector-native/selector-native-min.js&amp;3.18.1/selector/selector-min.js&amp;3.18.1/node-core/node-core-min.js&amp;3.18.1/dom-style/dom-style-min.js&amp;3.18.1/node-base/node-base-min.js&amp;3.18.1/event-delegate/event-delegate-min.js&amp;3.18.1/node-event-delegate/node-event-delegate-min.js" async=""></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/Logo.png" style="display: inline-block;">
                    <span style="display: inline-block;"></span>
                </a>

            </div>
            <div class="pure-menu pure-menu-horizontal">
                <ul class="nav navbar-nav navbar-left">
                    <li><a asp-area="" asp-controller="Home" asp-action="DetailsPriceList">Pricelist</a></li>
                    <li><a asp-area="Blog" asp-controller="Home" asp-action="Index">Blog</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>


                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a asp-area="User" asp-controller="Home" asp-action="FreeRooms">Free Rooms</a></li>

                    }
                    @if (User.IsInRole(WebConstants.AuthorRole))
                    {
                        <li><a asp-area="Blog" asp-controller="Home" asp-action="Create">Create Article</a></li>
                    }
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="splash-container">
        <div class="splash">
            @*<h1 class="splash-head">Big Bold Text</h1>*@
            <p class="splash-subhead">
                <h1 style="color:white">Welcome</h1>
            </p>
            <p>
                <a href="http://
                   css.io" class="pure-button pure-button-primary">Get Started</a>
            </p>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="content">
            @if (TempData.ContainsKey(WebConstants.TempDataSuccess))
            {
                <div class="alert alert-success center-block align-content-md-center">
                    @TempData[WebConstants.TempDataSuccess]
                </div>
            }
            @RenderBody()
            <h2 class="content-head is-center">Excepteur sint occaecat cupidatat.</h2>
        </div>
        <div class="ribbon l-box-lrg pure-g">
            <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
                    <h2 class="content-head content-head-ribbon">Laboris nisi ut aliquip.</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor.
                    </p>
                </div>
            </div>
        </div>
        <div class="content">
            <h2 class="content-head is-center">Dolore magna aliqua. Uis aute irure.</h2>
            <div class="pure-g">
                <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                    @if (!User.Identity.IsAuthenticated)
                    {

                        <a asp-area="" asp-controller="Account" asp-action="Login">Log In</a>


                    }

                </div>
                <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                    <h4>Contact Us</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                    </p>
                    <h4>More Information</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        </div>
        <div class="footer is-center">
            <p>&copy; 2017 - IvSite</p>
            <audio controls="controls" autoPlay="autoPlay">
                <source src="~/images/Forest Birdsong - Relaxing Nature Sounds Birds.mp3" type="audio/x-wav" />
            </audio>
        </div>
    </div>
    <script src="~/js/SecounMenu.js"></script>
    <script src="~/js/nodeBase.js"></script>
    <div id="yui3-css-stamp" style="position: absolute !important; visibility: hidden !important"></div>
    @RenderSection("Scripts", required: false)
    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
</body>
</html>