@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    @*<ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>*@
    <div class="content" id="yui_3_18_1_1_1513425409333_19">
        <h2 class="content-head is-center">Paradise</h2>
        <div class="pure-g" id="yui_3_18_1_1_1513425409333_18">
            <div class="l-box-lrg center-block " id="yui_3_18_1_1_1513425409333_17">

                <img class="pure-img" src="~/images/1.jpg" alt="ASP.NET" />
                <div class="l-box-lrg pure-u-1 pure-u-md-4-5">
                    <h2>Application uses</h2>
                    <ul>
                        <li>Sample pages using ASP.NET Core MVC</li>
                        <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
                    </ul>
                </div>
                <img class="pure-img" src="~/images/2.jpg" alt="Visual Studio" />
                <div class="l-box-lrg pure-u-1 pure-u-md-4-5">
                    <h2>How to</h2>
                    <ul>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
                    </ul>

                </div>
                <img class="pure-img" src="~/images/3.jpg" alt="Package Management" />
                <div class="l-box-lrg pure-u-1 pure-u-md-4-5">
                    <h2>Overview</h2>
                    <ul>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
                    </ul>
                </div>
                <img class="pure-img" src="~/images/4.jpg" alt="Microsoft Azure" />
                <div class="l-box-lrg pure-u-1 pure-u-md-4-5">
                    " <h2>Run &amp; Deploy</h2>
                    <ul>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
                        <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
